.scroll-hidden {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 300ms;
  /* display: none; */
}

.modal_hidden {
  display: none;
}

.modal_visible {
  display: block;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal_hidden_animate {
  opacity: 0;
}

.modal_visible_animate {
  animation-name: open;
  animation-duration: 300ms;
}

.modal__overlay {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  padding: 30px;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.modal__content {
  background: #ffffff;
  border-radius: 1px;
  margin: auto;
}
